@import '../../styles/layout';

.header {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__wrapper {
        display: flex;
        width: 100%;
    }

    &__wrapper.gray {
        background-color: #eee;
    }

    &__wrapper.white {
        background-color: #fff;
    }

    &__navigation, .navigation {
        display: flex;
        width: 100%;
    }

    &__users-info, .users-info {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 35px 0;

        &__main-template {
            width: 100%;
            object-fit: cover;
        }
    }
}

a, a:visited {
    color: inherit;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    &__main {
        display: flex;
        flex: 1;

        &-list {
            display: flex;
            width: 70%;
            justify-content: space-between;

            &-item {
                display: flex;
                align-items: center;
            }
        }

        &-link {
            position: relative;
            font-weight: 500;
            font-size: 18px;
            text-decoration: none;
            
            &::after {
                position: absolute;
                transition: all .33s;
                background-color: #de3409;
                bottom: -10px;
                left: 0;
                content: "";
                width: 0;
                height: 2px;
            }

            &:hover {
                color: #de3409;
                transition: all .33s;

                &::after {
                    width: 100%;
                }
            }
        }

        
    }

    &__socials-list {
        display: flex;
        justify-content: space-between;
        width: 20%;
    }

    &__socials-icon {
        fill: #999999;

        &:hover {
            fill: #de3409;
        }
    }
}

.catalogue-search {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    font-size: 24px;
    padding: 20px 0;

    &__show-btn {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        width: 10%;
        background-color: #DE3409;
        color: white;
        font-weight: 500;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        transition: all .33s;

        &:hover {
            background-color: #ef4510;
            transition: all .33s;
        }
    }

    &__title {
        text-decoration: none;
    }

    &__input {
        width: 85%;
        font-size: 24px;
        padding-left: 10px;
        border: 0;
        outline: none;
    }

    &__search-btn {
        width: 5%;
        border: 0;
        outline: none;
        background-color: #DE3409;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: all .33s;

        &:hover {
            background-color: #ef4510;
            transition: all .33s;
          }
    }
}

.main-info {
    display: flex;
    position: relative;

    &__ladder {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__arr {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 1250px;

        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);

        &__item {
            display: flex;

            &-icon {
                width: 30px;
                height: 30px;
                margin: auto 0;
                margin-right: 20px;
            }
            &-title {
                margin: auto 0;
                font-weight: 500;
                font-size: 18px;
                color: #FFB800;
            }
        }
    }

    &__information {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        transform: translate(-50%, -50%);
    }

    &__title {
        margin: 0 auto;
        margin-bottom: 100px;
        color: white;
        line-height: 76px;
        font-size: 62px;
        font-weight: 700;
        text-align: center;
    }

    &__desc {
        color: #ffbb00;
        font-size: 30px;
    }
}

.short-title {
    width: 60%;
}