.advantagesMini {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 350px;

    &-wrapper {
        width: 100%;
        height: 100%;
        margin-bottom: 120px;
        background-position: 10% 15%;
        background-image: url('../../assets/imgs/details-background.png');
    }

    &__content {
        height: 50%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 18%;
        height: 350px;

        &-img {
            width: 75px;
            height: 75px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &-title {
            font-weight: 500;
            font-size: 16px;
            color: #FFFFFF;
            line-height: 20px;
            margin: 0 auto;
            width: 55%;
        }
    }
}