.intro {
  & p {
    line-height: 20px;
  }
  &__wrapper {
    width: 100%;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 75px 0;

    &-desc {
      font-weight: 400;
      font-size: 16px;
      text-align: left;
      line-height: 20px;

      &-bold {
        font-weight: 700;
      }
    }

    &-first-col {
      width: 40%;
      padding-top: 30px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    &-second-col {
      width: 30%;
      height: fit-content;
  
      &-img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }

  &__place-request-btn {
    background-color: #DE3409;
    color: white;
    font-size: 18px;
    line-height: 22px;;

    margin-top: 50px;
    padding: 20px 66px;
    border-radius: 5px;

    align-self: flex-start;

    transition: all .33s;

    &:hover {
      background-color: #EF4510;
      transition: all .33s;
    }
  }
}

.props {
  &__wrapper {
    width: 100%;
  }
}

.zagrad-znak {
  display: flex;
  flex-direction: column;

  &__cols {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
  }

  &__item-title {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    position: relative;
    
    margin-left: 15px;
    margin-bottom: 60px;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: -15px;
      width: 3px;
      height: 100%;
      background-color: #DE3409;

      border-radius: 10px;
    }
  }

  &__first-col {
    width: 30%;

    &-img {
      width: 100%;
      height: auto;
      object-fit: cover;

      border-radius: 20px;
    }

    &-content {
      width: 100%;
    }

    &-options {
      width: 100%;
      display: flex;
      justify-content: space-between;

      margin-top: 30px;
    }

    &-option-img {
      width: 75px;
      height: 75px;

      object-fit: contain;

      border-radius: 10px;
      border: 1px solid #BDBDBD;
      transition: all .22s;

      &:hover {
        border: 1px solid #de3409;
        transition: all .22s;
      }
    }
  }

  &__second-col {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__stat {
    margin-bottom: 20px;

    &-complectation-item {
      text-align: left;
      color: #828282;
      line-height: 20px;
      margin-top: 15px;

      & > span {
        text-align: left;
        color: #de3409;
      }
    }

    &-row {
      display: flex;
      margin-bottom: 10px;

      & > .zagrad-znak__stat-title {
        margin-left: 10px;
      }
    }

    &-text {
      text-align: left;
      color: #828282;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }

    &-title {
      text-align: left;
      font-size: 18px;
      font-weight: 500;
      color: #333333;
      line-height: 20px;
    }
  }

  &__summary {
    display: flex;
    justify-content: space-between;
  }

  &__prev-price {
    text-decoration: line-through;
    color: #828282;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 20px;
  }

  &__current-price {
    color: #de3409;
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    line-height: 34px;
  }

  &__add-to-cart-btn {
    background-color: #DE3409;
    padding: 20px 40px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 400;
  }
}