.retroreflectors {
    &__info {
        display: flex;
        justify-content: space-between;
        margin-top: 120px;
        margin-bottom: 120px;

        &-content {
            width: 600px;
            text-align: left;
        }
        &-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            color: #333333;
            margin-bottom: 25px;

            & strong {
                font-weight: 700;
            }
        }
        &-btn {
            width: 285px;
            height: 60px;
            background: #DE3409;
            border-radius: 5px;
            font-weight: 400;
            font-size: 18px;
            color: #FFFFFF;
            margin-top: 25px;
            transition: 0.22s;

            &:hover {
                background: #cd2b02;
                transition: 0.22s;
            }
        }

        &-img {
            height: 100%;
        }
    }

    &__products {
        margin-bottom: 120px;

        &__item {
            display: flex;
            margin-bottom: 30px;
            border-radius: 15px;
            border: 1px solid #BDBDBD;

            &:last-child {
                margin-bottom: 0;
            }

            &-img {
                margin: auto 35px;
            }

            &__info {
                width: 600px;
                text-align: left;
                margin-top: 25px;
                margin-bottom: 35px;

                &-title {
                    font-weight: 700;
                    font-size: 18px;
                    color: #333333;
                    margin-bottom: 30px;
                }
                &-selects {
                    display: flex;
                    margin-bottom: 20px;

                    & form {
                        display: flex;
                        flex-direction: column;
                        margin-right: 30px;

                        & label {
                            font-weight: 500;
                            font-size: 18px;
                            color: #333333;
                            margin-bottom: 7px;
                        }
                        & select {
                            font: inherit;
                            width: 255px;
                            height: 40px;
                            outline: none;
                            color: #828282;
                            border-radius: 5px;
                            padding-left: 15px;
                            border: 1px solid #BDBDBD;

                            letter-spacing: inherit;
                            word-spacing: inherit;
                            -moz-appearance: none;
                            -webkit-appearance: none;
                            appearance: none;
                        }
                          
                        & select:not([multiple]) {
                            padding-right: 1.2em;
                            background-repeat: no-repeat;
                            background-position: calc(100% - 0.85em) 0.85em;
                            background-size: 0.65em auto;
                            background-image: url('./../../assets//imgs/select-arrow.svg');
                        }
                    }
                }
                &-text {
                    font-weight: 400;
                    font-size: 16px;
                    color: #828282;
                    margin-bottom: 12px;

                    &:last-child {
                        margin-bottom: 0px;
                    }

                    & strong {
                        font-weight: 500;
                        font-size: 18px;
                        color: #333333;
                    }
                }
            }

            &__result {
                display: flex;
                justify-content: end;
                flex-direction: column;
                text-align: right;
                margin-left: auto;
                margin-right: 25px;
                margin-bottom: 35px;

                &-text {
                    font-weight: 400;
                    font-size: 16px;
                    color: #999999;
                    margin-bottom: 7px;
                }
                &-price {
                    font-weight: 600;
                    font-size: 18px;
                    color: #DE3409;
                    margin-bottom: 20px;
                }
                &-buy {
                    width: 160px;
                    height: 47px;
                    background: #DE3409;
                    border-radius: 5px;
                    font-weight: 400;
                    font-size: 18px;
                    color: #FFFFFF;
                    transition: 0.22s;
        
                    &:hover {
                        background: #cd2b02;
                        transition: 0.22s;
                    }
                }
            }
        }
    }
}